body{
    background-color: black;
}


header{
    background-color: red;
    padding: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between; /* separa esquerda e direita */
    align-items: center; /* alinha no meio */
    box-sizing: border-box; /* inclui padding e border no tamanho total */
    border-radius: 20px;
}

h1{
    color: white;
    text-align: center;
    justify-content: center;
}

.mario-gif{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cano-mario{
    width: 5em;
    height: 5em;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* altura total da tela */
    box-sizing: border-box; /* inclui padding e border no tamanho total */
    background-color: #f0f0f0; /* cor de fundo clara */
    border-radius: 20px;
}

p{
    color: black;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

a{
    align-items: center;
    color: white;
    text-decoration: none;
}

button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s; /* deixa suave */
    box-shadow: 0 0 10px black;
    transition: 0.3s;

}

button:hover{
    transform: scale(1.05);
    background-color: red;
    box-shadow: 0 0 10px red;
}